<div id="eventForm">
    <h2>Create/Edit Event</h2>
    <form role="form">
        <div class="form-group" ng-class="{'has-error': errors.name}">
            <label for="eventName">Event Name</label>
            <input id="eventName" class="form-control" type="text" ng-model="event.name" required="true"/>
        </div>
        <div class="form-group" ng-class="{'has-error': errors.description}">
            <label for="eventDesc">Event Description</label>
            <textarea id="eventDesc" class="form-control" ng-model="event.description" required="true"></textarea>
        </div>
        <div class="form-group">
            <label>Event Date</label>
            <datepicker min="minDate" show-weeks="showWeeks" ng-model="event.date"></datepicker>
        </div>
        <button type="button" class="btn btn-primary" ng-click="saveEvent()">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </form>
</div>